* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: black;
  padding: 100px;
  color: white;
}

.web-log {
  width: 50px;
}

.span-text {
  color: #2cc6c6;
  margin: 15px;
}

.span-card {
  display: flex;
}
